*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
# SBT 0.13.1-RC2
.history

# Scala-IDE specific
.scala_dependencies
*.iml
.DS_Store
.idea
.idea_modules/

_site/

